@charset "UTF-8";


:root {
    --yellow:#f9d806;
    --ligth-yellow:#ffe330;
    --black:#130f40;
    --ligth-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.404);

}


h1 {
    text-align: center;
    font-size: 2.8vw;
    text-transform: uppercase;
    color: var(--black);
}

p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--ligth-color);
    text-align: center;
}

a{
    color: var(--yellow);
    font-weight: bold;
}

a{
    color: var(--black);
    font-weight: bolder;
}

a:hover{
    color: var(--yellow);
}

iframe{
    
        width: 100%; /* Ocupa toda a largura do contêiner pai */
        height: 500px; /* Defina a altura desejada para o iframe */
        border: 1px solid #ccc; /* Adiciona uma borda ao redor do iframe */
        border-radius: 8px; /* Adiciona cantos arredondados à borda do iframe */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao iframe */
}

